.octo {
	position: relative;
    margin: auto;
    width: 200px;
    width: 60%;
    padding-top: 100px;

}

#octopus {
	position: absolute;
    left: 20px;
    top: 50px;
	z-index: -2;

}
#hat {
	position: absolute;
    left: 0px;
    top: 0px;
	z-index: -1;
}

#glasses {
	position: absolute;
    left: 60px;
    top: 150px;
}